301/Content/UI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Buttons" type="ButtonsType"/>
  <xs:complexType name="ActionType">
    <xs:sequence>
      <xs:element name="Type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pause"/>
            <xs:enumeration value="Build"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Argument" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="HomeLvl1"/>
            <xs:enumeration value="HomeLvl2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DimensionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="x" use="optional"/>
        <xs:attribute type="xs:string" name="y" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ButtonType">
    <xs:sequence>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Pause"/>
            <xs:enumeration value="Build Home"/>
            <xs:enumeration value="Build Home 2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="LocationType" name="Location"/>
      <xs:element type="DimensionType" name="Dimension"/>
      <xs:element type="ActionType" name="Action"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="x" use="optional"/>
        <xs:attribute type="xs:string" name="y" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ButtonsType">
    <xs:sequence>
      <xs:element type="ButtonType" name="Button" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>