301/Content/Bases/Bases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Registry" type="RegistryType"/>
  <xs:complexType name="RegistryType">
    <xs:sequence>
      <xs:element type="BasesType" name="Bases"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseType">
    <xs:sequence>
      <xs:element name="Upgrade">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="HomeLvl2"/>
            <xs:enumeration value="HomeLvl3"/>
            <xs:enumeration value="Null"/>
            <xs:enumeration value="DefensiveLvl2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FullName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Home Level 1"/>
            <xs:enumeration value="Home Level 2"/>
            <xs:enumeration value="Home Level 3"/>
            <xs:enumeration value="Defensive Level 1"/>
            <xs:enumeration value="Defensive Level 2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="BuildingsType" name="Buildings"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BuildingsType">
    <xs:sequence>
      <xs:element type="BuildingType" name="Building" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BasesType">
    <xs:sequence>
      <xs:element type="BaseType" name="Base" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuildingType">
    <xs:sequence>
      <xs:element name="Type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Center"/>
            <xs:enumeration value="Tower"/>
            <xs:enumeration value="Construction"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="OffsetType" name="Offset"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OffsetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="x" use="optional"/>
        <xs:attribute type="xs:string" name="y" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>